<!DOCTYPE HTML>
<html lang="en"> <head>
<title>Appointments</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
     
<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"/>
    
<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body>

<div class="container">

<h2>Google Calendar Busy Times</h2>
<br>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h4>Date and Time range</h4>


<form action="/setrange" method="post">
  Start time:
  <input type="time" name="start_clock" value="00:00:00"> 

</select>

  End time:
  <input type="time" name="end_clock" value="00:00:00">



  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;"
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
     
           'Today': [moment(), moment().add(1, 'days')],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')],
           'This week':[moment(), moment().endOf('week').add(1, 'days')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week').add(1, 'days')],
           'This month':[moment(), moment().endOf('month').add(1, 'days')],
           'Within two weeks':[moment(),moment().add(16, 'days')]
        }}
       );
    });
  </script>

  <div class="row">
    <div class="col-sm-8">
      <label for="duration">Duration of meeting:</label>
      <select name="duration">
        <option value="30">30 min</option>
        <option value="100">1 hr</option>
        <option value="130">1 hr 30 min</option>
        <option value="200">2 hr</option>
        <option value="230">2 hr 30 min</option>
        <option value="300">3 hr</option>
        <option value="330">3 hr 30 min</option>
        <option value="400">4 hr</option>
      </select>
    </div>
  </div>

<input type="submit" value="Get Busy Times" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across).
    -->
<br>

{% if g.calendars is defined  %}

   <fieldset>
   <legend> Choose Calendars </legend>
      {% for cal in g.calendars %}
        <div class="col-md-4">
        {% if loop.index is divisibleby 1 %}
          <div class="row">
            <label for="{{ cal.summary }}">{{ cal.summary }} </label>   
          </div>
          {% if g.events is defined %}
            {% for event in g.events %}
               {% if event.id == cal.id %}
                 <h5> BUSY TIMES </h5>
                    {% for event in event.events %}
                      {% if loop.index is divisibleby 1 %}
                        <div class="row">
                         EVENT : {{ event.sum }} BEGINS :{{event.start | fmtdate}} {{event.start | fmttime}} ENDS :{{event.end | fmtdate}} {{event.end | fmttime}}
                        </div>
                      {% endif %}
                    {% endfor %}
               {% endif %}
            {% endfor %}
         {% endif %}
         </div>
          <!-- New Stuff -->
          <form action ="/createmeeting" method = "post">
          {% if g.free is defined %}
            {% for time in g.free %}
              {% if time.id == cal.id %}
                <h5> FREE TIMES </h5>
                  {% for event in  time.free_times %}
                    <div class="row">
                     <input type="checkbox" name="interest" value="{{ event }}" />
                      BEGINS: {{ event.start | fmtdate}} {{ event.start | fmttime }} ENDS: {{event.end | fmtdate}} {{event.end | fmttime}}
                   </div>
                  {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endif %}
        </form>
      {% endfor %}
      <button type ="submit" name ="meetbutton">Create Meeting</button>
  </fieldset>
{% endif %}

